<mat-card ngClass="top-card">{{budget}}</mat-card>
<mat-divider></mat-divider>

<form class="example-form">
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
<mat-label>Favorite food</mat-label>
<input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field>
<div class="example-button-container">
<button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> 
</button>
</div>
</form>



<table>
</table>